<h3>Who‘s Gekko...</h3>

<%#= @dax.inspect %>
<%#= @nikkei.inspect %>
<%#= @snp.inspect %>

<div style="background-color:#eee;width:100%;">

    <table>
  <tr>
    <th>Symbol</th>
    <th>Previous Close</th>
    <th>Last Trade Price</th>
    <th>Timestamp</th>
  </tr>
 
  <tr>
    <td><%= @dax.symbol %></td>
    <td><%= @dax.previous_close %></td>
    <td><%= @dax.last_trade_price_only %></td>
    <td><%= @dax.updated_at %></td>
  </tr>
  <tr>
    <td><%= @nikkei.symbol %></td>
    <td><%= @nikkei.previous_close %></td>
    <td><%= @nikkei.last_trade_price_only %></td>
    <td><%= @nikkei.updated_at %></td>
  </tr>
  <tr>
    <td><%= @snp.symbol %></td>
    <td><%= @snp.previous_close %></td>
    <td><%= @snp.last_trade_price_only %></td>
    <td><%= @snp.updated_at %></td>
  </tr>    
</table>
</div>

<div style="width:100%;clear:all;">
 <div style="width:30%;float:left;">DAX<br/>
   <div style="display:inline-box;width:50px;height:50px;border-radius:8px;background-color:<%=@todays_color%>;margin:20px;"></div>Todays Session
 </div>
 <div style="width:40%;float:left;">B
 
 </div>
 <div style="width:30%;float:left;">Your last result</div>
</div>
